h3{
  color: #111;
}
body {
    background-color: white;
    color: gray;
    font-family:"Audiowide", sans-serif;
    text-align: center;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a,.collapse {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(204, 204, 204);
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover{
    transform: scale(1.2);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    font-size:30px;
    cursor:pointer;
  }
  #mySidenav .btn-primary{
    margin: 8px 8px 8px 32px;
    background-color: transparent;
    border-color: rgba(142,113,97,1);
    color:rgb(204, 204, 204); 
  }
  #mySidenav .btn-primary:hover{
    margin: 8px 8px 8px 32px;
    background-color: transparent;
    border-color: rgba(142,113,97,1);
    color:rgb(204, 204, 204);
  }
  .parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;

  }
  .parallax .block {
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    text-align: center;
  }
.block {
display: block;
width: 100%;
border: none;
padding: 14px 28px;
font-size: 16px;
text-align: center;
}
a{
  text-decoration: none;
}
.btn-primary{
background-color: rgba(142,113,97,1);
}

.btn-primar:hover{
  background-color: gray;
  }
.btn-color{
background-color: gray;
}
.btn-color:hover{
background-color: rgba(142,113,97,1);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  height: 80%;
  border-radius: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  height: 80%;
  border-radius: 100px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(142,113,97,1) ;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(204, 204, 204); 
}
